/*sets original font-size to 14px*/
body {
  font-size: 14px;
}
/*sets nav styles*/
nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}
/*makes everything in the section have no margin and centered and have a width of 60%*/
section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family sans-serif;
  font-size: 2em;
}

.example, h1 {
  padding-top: 30px;
  text-align center;
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin 10px 0;
  width: 100%;
}
